# Logs
logs
*.log
npm-debug.log*
.pnpm-error.log*
.pnpm-debug.log
yarn.lock
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
tests/**/coverage/

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.eslintcache
report.html

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
tsconfig.tsbuildinfo
